.heroContainer {
    width: 100%;
    max-width: 1650px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroContainer > section {
    background: rgba(15, 15, 15, .6);
    border-radius: 50px;
    overflow: hidden;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
}
.heroContainerOne {
    width: 47%;
    height: 80vh;
    padding: 100px 0px 0px 80px;
}

.headerAnchor {
    background: #5813CF;
    padding: 8px 12px;
    font-size: .7rem;
    font-weight: 400;
    border-radius: 0px 20px 10px;
    margin-left: 5px;
}
.headerAnchor2 {
    background: #46CF94;
    padding: 0px 12px;
    font-size: .7rem;
    font-weight: 400;
    border-radius: 0px 20px 10px;
    margin-left: 5px;
    color: black;
    margin-top: 20px;
    position: absolute;
}
.heroOneText {
    margin-top: 40px;
    font-size: 1.2rem;
    line-height: 2rem;
    max-width: 600px;
    color: var(--color3);
}

.webStats {
    background: lightgrey;
    /* background: linear-gradient(to bottom right, #5813CF 14%, #46CF94 54%); */
    background: #46CF94;
    /* color: rgb(207, 207, 207); */
    width: fit-content;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 50px;
}

/* Hero Section Two */
.heroContainerTwo {
        width: 53%;
    height: 80vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.heroContainerTwo > div{
    width: 100%;
    max-width: 680px;
    padding: 0;
    border-radius: 50px;
    overflow: hidden;
    outline: 1px solid var(--color4);
}
.heroContainerTwo > div input {
    border: 1px solid var(--color3);
    background: rgba(15, 15, 15, .9);
    color: var(--color3);
    font-size: 17px;
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    padding: 10px 20px;
}
.heroContainerTwo > section {
    width: 100%;
    max-width: 680px;
    background: rgba(15, 15, 15, .8);
    box-shadow: 0px 0px 20px black;
    border-radius: 50px;
    min-height: 580px;
    height: 20px;
    outline: 1px solid var(--color4);
    overflow: hidden;
    display: flex;
    gap: 20px;
}

.styleCategory {
    height: 100%;
    width: 30%;
    padding: 16px;
    background: black;
}
